@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600&family=Work+Sans&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.App {
  text-align: center;
  font-family: "Raleway", sans-serif;
  background: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #999ce6,
    #979eec,
    #95a0f1,
    #d298f4,
    #bd8ef3,
    #d481ed,
    #ec71e2
  );
}
::-webkit-input-placeholder {
  color: #084887;
}
